################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OnlineShopping/obj
/OnlineShopping/bin
/packages/
/packages/*/tools/
*.exe
*.ps1
/Grocery/bin
/Grocery/obj